<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Hellow there
      <% if(user) { %>
         <span style="color: brown;"><%= user %></span>
         <Button style="display: block;" onclick="window.location='/logout'">Logout</Button>
         <% } else { %>
          guest
          <Button style="display: block;" onclick="window.location='/auth'">Login</Button>
      <% } %>
      </h1>
    </div>
  </body>
</html>
